<%- include("../partials/header.ejs") %>
<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Add Important Contacts Here</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
  
      <div class="container">
        <div class="col-12">
          <h4 class="mb-3">Job Details</h4>
          <form class="needs-validation" novalidate="" action="/submit-contacts" method="POST">
            <div class="row g-3">
              <div class="col-12">
                <label for="contactName" class="form-label">Contact Name</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="contactName" name="contactName" placeholder="John Doe" required>
                <div class="invalid-feedback">
                    Contact name is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="roleInCompany" class="form-label">Role in the Company</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="roleInCompany" name="roleInCompany" placeholder="e.g., Human Resources" required>
                  <div class="invalid-feedback">
                    Position in the company is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <div class="input-group has-validation">
                  <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+1 234 567" required>
                  <div class="invalid-feedback">
                    Phone number is required.
                  </div>
                </div>
              </div>    
              
              <div class="col-12">
                <label for="contactEmail" class="form-label">Phone Number</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="johndoe@mail.com" required>
                  <div class="invalid-feedback">
                    Email is required.
                  </div>
                </div>
              </div>   

              <div class="col-12">
                <label for="linkedinProfile" class="form-label">LinkedIn Profile <span>(Optional, it can be link or username.)</span></label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="linkedinProfile" name="linkedinProfile" placeholder="e.g., Salman Faiz Hidayat OR www.linkedin.com/in/salmanfaizhidayat">
                </div>
              </div>  
            <button class="w-100 btn btn-primary btn-lg mt-5 mb-5" type="submit">Save Contacts</button>
          </form>
        </div>
      </div>
    </main>
